{:duct.profile/base
 {:duct.core/project-ns proxy-router

  :proxy-router.service/default-service
  {}
  :proxy-router.handler/default-handler
  {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging
 {}}
